/* タブレット */

@media (max-width: 1000px) {
    body{
        padding: 0;
        margin: 0;
    }
    
   }
   
   
   
   
   /* スマートフォン */
  @media (max-width: 670px) {

   
    body{
        padding: 0;
        margin: 0;
    }
  
    
    .modal{
      display: block;
      width: 50%;
    }
    
    
   }
